body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #141414;
    color: white;
    text-align: center;
}

.container {
    margin-top: 90px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #e50914;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button {
    padding: 12px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b00610;
}

ul {
    margin-top: 25px;
    list-style: none;
    padding: 0;
    font-size: 18px;
}
